<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Injection2</title>
    <script type="text/javascript" src="js/Angular1.5.5.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="myCtrl1">
        <input type="button" ng-click="hello()" value="ctrl1"></input>
    </div>
    <div ng-controller="myCtrl2">
        <input type="button" ng-click="hello()" value="ctrl2"></input>
    </div>
    <div ng-controller="myCtrl3">
        <input type="button" ng-click="hello()" value="ctrl3"></input>
    </div>
    <script type="text/javascript">
    var app = angular.module("myApp",[]);
    app.factory("hello1",function(){
        return {
            hello:function(){
                console.log("hello1 service");
            }
        }
    });
    app.factory("hello2",function(){
        return {
            hello:function(){
                console.log("hello2 service");
            }
        }
    });

    var $injector = angular.injector();
    //get()，返回一个服务的实例
    console.log(angular.equals($injector.get('$injector'),$injector));//true
    console.log($injector.has('$injector')); //true
    //invoke()，调用方法并从$injector中添加参数
    console.log(angular.equals($injector.invoke(function($injector) {return $injector;}),$injector));//true

    //inferred
    // $injector.invoke(function(serviceA){});
    app.controller("myCtrl1", function($scope,hello1,hello2){
        $scope.hello = function(){
            hello1.hello();
            hello2.hello();
        }
    });

    //annotated
    // function explicit(serviceA) {};
    // explicit.$inject = ['serviceA'];
    // $injector.invoke(explicit);
    var myCtrl22 = function($scope,hello1,hello2){
        $scope.hello = function(){
            hello1.hello();
            hello2.hello();
        }
    }
    //myCtrl22.$injector = ['hello1','hello2'];
    app.controller("myCtrl2", myCtrl22);

    //inline
    app.controller("myCtrl3",['$scope','hello1','hello2',function($scope,hello1,hello2){
    // app.controller("myCtrl3",['$scope','hello1','hello2',function(a,b,c){
        // a.hello = function(){
        //  b.hello();
        //  c.hello();
        // }
        $scope.hello = function(){
            hello1.hello();
            hello2.hello();
        }
    }]);
    //annotate()，返回一个数组，数组的元素的值是在调用时被注入到目标函数中的服务的名称
    console.log($injector.annotate(myCtrl22));//["$scope","hello1","hello2"]
    </script>
</body>
</html>